@model IEnumerable<ePro.Models.ProductListing>

@{
    ViewBag.Title = "Index";
}

<h2>All Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}
<table class="table">
    <tr>
        <th>
           @Html.ActionLink("Product Name", "Index", new { Sorting_Order = ViewBag.SortingName })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        
        <td>
            @Html.ActionLink("Compliance", "../ProductListings/Index", new { id = item.ProductListingID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductListingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductListingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductListingID })
        </td>
    </tr>
}

</table>
